#welcome-layout {
  -fx-background-color: linear-gradient(to bottom, #1a2980, #26d0ce);
}

#welcome-title {
  -fx-font-family: "Arial Black", Gadget, sans-serif;
  -fx-font-size: 36px;
  -fx-text-fill: #ffffff;
}

#start-button {
  -fx-font-family: "Arial", sans-serif;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: linear-gradient(to bottom, #00b09b, #96c93d);
  -fx-background-radius: 25;
  -fx-padding: 15 40;
  -fx-border-radius: 25;
  -fx-cursor: hand;
  cursor: hand;
}

#start-button:hover {
  -fx-background-color: linear-gradient(to bottom, #00d2ff, #3a7bd5);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

#exit-button {
  -fx-font-family: "Arial", sans-serif;
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-background-color: linear-gradient(to bottom, #ff0000, #ff7e5f);
  -fx-background-radius: 25;
  -fx-padding: 15 40;
  -fx-border-radius: 25;
  -fx-cursor: hand;
  cursor: hand;
}

#exit-button:hover {
  -fx-background-color: linear-gradient(to bottom, #ff7e5f, #ff0000);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}
